<div id = "container-consultas">
    <label >
        <input type="radio" name="consulta" id="consulta1">
        1. Total empenhado por UF
    </label>

    <label >
        <input type="radio" name="consulta" id="consulta2">
        2. Top 10 instituições que mais receberam emendas
    </label>

    <label >
        <input type="radio" name="consulta" id="consulta3">
        3. Ações orçamentárias mais utilizadas
    </label>

    <label >
        <input type="radio" name="consulta" id="consulta4">
        4. Valor médio pago por área de atuação
    </label>

    <label >
        <input type="radio" name="consulta" id="consulta5">
        5. Total empenhado por proponente

    </label>
</div>