<div id ="container-tabela">
    <table id = "tabela">
        <tr> 
            <th>Código emenda</th> 
            <th>Tipo de emenda</th>
            <th>Ano da emenda</th>
            <th>Código da ação</th>
            <th>Descrição da ação</th>
            <th>Valor empenhado</th>
            <th>Valor pago</th>
            <th>Função</th>
            <th>Código da função</th>
            <th>Código proponente</th>
            <th>Nome proponente</th>
            <th>Código da instituição</th>
            <th>Nome da instituição</th>
            <th>Tipo de instituição</th>
            <th>Código do programa</th>
            <th>Nome do programa</th>
            <th>UF</th>
            <th>Município</th>
            
        </tr>

        <tr>
            <td>12312</td>
            <td>Emenda individual</td>
            <td>2002</td>
            <td>5555</td>
            <td>Implementação de rodovias</td>
            <td > R$ : 500000,00</td>
            <td > R$ : 5005,00</td>
            <td>Urbanismo</td>
            <td>002</td>
            <td>442</td>
            <td>James hollinheads</td>
            <td>2222</td>
            <td>Bando do Brasil S/A</td>
            <td>Pessoa Jurídica</td>
            <td>1232</td>
            <td>DESENVOLVIMENTO CIENTIFICO, TECNOLOGICO E PRODUTIVO EM SAUDE</td>
            <td>RJ</td>
            <td>São Gonçalo</td>
        </tr>
    </table>
</div>